.header__title {
  max-width: 730px;
  line-height: 1;
  font-size: 102px;
  font-weight: bold;
  align-self: center;
  position: relative;
  left: 64px;
  margin: 0;
  z-index: 5;
}


@media screen and (max-width: 1440px) {
  .header__title {
    max-width: 50%;
    font-size: calc((100vw - 320px)/(1440 - 320) * (102 - 60) + 60px);
  }
}

@media screen and (max-width: 1024px) {
  .header__title {
    max-width: 45%;
  }
}

